In [17]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_csv('heart_disease2_modified.csv')
data.drop(columns=['Unnamed: 0'],inplace=True)
data

,Gender,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart_ stroke
0,Male,39,no,0.0,no,no,no,no,195.0,106.0,70.0,26.97,80.0,77.0,No
1,Female,46,no,0.0,no,no,no,no,250.0,121.0,81.0,28.73,95.0,76.0,No
2,Male,48,yes,20.0,no,no,no,no,245.0,127.5,80.0,25.34,75.0,70.0,No
3,Female,61,yes,30.0,no,no,yes,no,225.0,150.0,95.0,28.58,65.0,103.0,yes
4,Female,46,yes,23.0,no,no,no,no,285.0,130.0,84.0,23.10,85.0,85.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,Male,50,yes,1.0,no,no,yes,no,313.0,179.0,92.0,25.97,66.0,86.0,yes
4234,Male,51,yes,43.0,no,no,no,no,207.0,126.5,80.0,19.71,65.0,68.0,No
4235,Female,48,yes,20.0,no,no,no,no,248.0,131.0,72.0,22.00,84.0,86.0,No
4236,Female,44,yes,15.0,no,no,no,no,210.0,126.5,87.0,19.16,86.0,NaN,No
4237,Female,52,no,0.0,no,no,no,no,269.0,133.5,83.0,21.47,80.0,107.0,No

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           4238 non-null   object
 1   age              4238 non-null   int64
 2   currentSmoker    4238 non-null   object
 3   cigsPerDay       4209 non-null   float64
 4   BPMeds           4238 non-null   object
 5   prevalentStroke  4238 non-null   object
 6   prevalentHyp     4238 non-null   object
 7   diabetes         4238 non-null   object
 8   totChol          4188 non-null   float64
 9   sysBP            4238 non-null   float64
 10  diaBP            4238 non-null   float64
 11  BMI              4219 non-null   float64
 12  heartRate        4237 non-null   float64
 13  glucose          3850 non-null   float64
 14  Heart_ stroke    4238 non-null   object
dtypes: float64(7), int64(1), object(7)
memory usage: 496.8+ KB

In [4]:
data.dropna(inplace =True) 
data.reset_index(inplace=True,drop=True)
data

,Gender,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart_ stroke
0,Male,39,no,0.0,no,no,no,no,195.0,106.0,70.0,26.97,80.0,77.0,No
1,Female,46,no,0.0,no,no,no,no,250.0,121.0,81.0,28.73,95.0,76.0,No
2,Male,48,yes,20.0,no,no,no,no,245.0,127.5,80.0,25.34,75.0,70.0,No
3,Female,61,yes,30.0,no,no,yes,no,225.0,150.0,95.0,28.58,65.0,103.0,yes
4,Female,46,yes,23.0,no,no,no,no,285.0,130.0,84.0,23.10,85.0,85.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,Male,68,no,0.0,no,no,yes,no,176.0,168.0,97.0,23.14,60.0,79.0,yes
3796,Male,50,yes,1.0,no,no,yes,no,313.0,179.0,92.0,25.97,66.0,86.0,yes
3797,Male,51,yes,43.0,no,no,no,no,207.0,126.5,80.0,19.71,65.0,68.0,No
3798,Female,48,yes,20.0,no,no,no,no,248.0,131.0,72.0,22.00,84.0,86.0,No
3799,Female,52,no,0.0,no,no,no,no,269.0,133.5,83.0,21.47,80.0,107.0,No

### Converting Gender , prevalentStroke & Heart_ stroke columns to numerical

In [5]:
data['Gender'] = data['Gender'].replace(['Male','Female'],[1,0])
data['currentSmoker'] = data['currentSmoker'].replace(['yes','no'],[1,0])
data['BPMeds'] = data['BPMeds'].replace(['yes','no'],[1,0])
data['prevalentHyp'] = data['prevalentHyp'].replace(['yes','no'],[1,0])
data['diabetes'] = data['diabetes'].replace(['yes','no'],[1,0])
data['prevalentStroke'] = data['prevalentStroke'].replace(['yes','no'],[1,0])
data['Heart_ stroke'] = data['Heart_ stroke'].replace(['yes','No'],[1,0])

data

,Gender,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart_ stroke
0,1,39,0,0.0,0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,1,68,0,0.0,0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
3796,1,50,1,1.0,0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
3797,1,51,1,43.0,0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
3798,0,48,1,20.0,0,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
3799,0,52,0,0.0,0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           4238 non-null   object
 1   age              4238 non-null   int64
 2   currentSmoker    4238 non-null   object
 3   cigsPerDay       4209 non-null   float64
 4   BPMeds           4238 non-null   object
 5   prevalentStroke  4238 non-null   object
 6   prevalentHyp     4238 non-null   object
 7   diabetes         4238 non-null   object
 8   totChol          4188 non-null   float64
 9   sysBP            4238 non-null   float64
 10  diaBP            4238 non-null   float64
 11  BMI              4219 non-null   float64
 12  heartRate        4237 non-null   float64
 13  glucose          3850 non-null   float64
 14  Heart_ stroke    4238 non-null   object
dtypes: float64(7), int64(1), object(7)
memory usage: 496.8+ KB

In [7]:
X = data.drop(columns=['Heart_ stroke'])
y = data['Heart_ stroke']

In [8]:
y.value_counts()

Heart_ stroke
0    3217
1     583
Name: count, dtype: int64

###### We found that data is imbalanced i.e 0 has larger values than 1 , so model may not give accurate results. So performing resampling

In [9]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=2)

In [10]:
X,y = sm.fit_resample(X,y.ravel())   # Using this the Data gets Balanced by having 3217 values of both categories
np.unique(y,return_counts=True)

(array([0, 1], dtype=int64), array([3217, 3217], dtype=int64))

In [11]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

model = RandomForestClassifier(n_estimators=120, random_state=42,oob_score=True, max_depth= None, max_features= 0.2, max_samples= 1.0 )
model.fit(X_train, y_train)
y_pred =model.predict(X_test)
accuracy_score(y_test,y_pred)

0.8756798756798757

In [15]:
input = np.array([[1,48,1,20,0,0,0,0,245,127.5,80,25.34,75,70]])
model.predict(input)

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [16]:
import pickle as pk
pk.dump(model,open('heart_disease_model.pkl','wb'))